@media screen and (max-width: 1100px) and (max-height: 1400px) {
    .landing img {
        height: 550px;
    }
}

@media screen and (max-width: 1100px) and (min-height: 700px) {
    .landing img {
        height: 350px;
    }

    .landing .text-details .title {
        font-size: 9rem;
    }

    .landing .text-details .desc {
        font-size: 1.5rem;
    }

    .landing .action-container #register {
        font-size: 1rem;
    }

    .landing .action-container .login-option {
        --_font-s: 0.75rem;
    }
}

@media screen and (max-width: 768px) {
    .landing #circle-1 {
        --_circle-diameter: 100px;
    }

    .landing #circle-2 {
        --_circle-diameter: 200px;
    }

    .landing #circle-3 {
        --_circle-diameter: 300px;
    }

    .landing #circle-4 {
        --_circle-diameter: 200px;
    }
}

@media screen and (max-width: 630px) {
    .landing>.contents {
        --_margin: 10px;
    }

    .landing .text-details .desc {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .landing #circle-4 {
        display: none;
    }

    .landing img {
        height: 275px;
        left: 0;
    }

    .landing .container.landing-action {
        gap: 5px;
    }

    .landing .text-details .title {
        font-size: 6rem;
    }

    .landing .text-details .desc {
        font-size: 1rem;
        width: 100%;
        margin-top: -15px;
    }

    .landing .landing-action .action-container {
        gap: 5px;
    }

    .landing .action-container #register {
        font-size: 1rem;
        padding: 10px 25px;
    }

    .landing .action-container .login-option {
        --_font-s: 0.65rem;
    }
}