<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main_style.css">
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <title>Register</title>
</head>

<body>
    <div class="container landing">
        Landing Page
        <button>Tangina Button</button>
    </div>
    <div class="container registerpage final noradius">
        <div class="container contents">
            <div class="logo-container">
                SVG LOGO SOON
            </div>
            <main class="container sides">
                <section class="side description">
                    <h1 class="title">Create a New Account</h1>
                    <p class="desc">Your first step to organized tasks!</p>
                </section>
                <form action="" class="side register">
                    <div class="user-container denied">
                        <label for="username" id="username">Username</label>
                        <input type="text" id="username" placeholder="Create a username">
                        <svg></svg>
                        <p class="availability denied">Username not available!</p>
                    </div>
                    <div class="password-container">
                        <label for="password" id="password">Password</label><input type="password" id="password" placeholder="Create a password">
                        <svg></svg>
                    </div>
                    <div class="confirmation-container validated">
                        <label for="confirmation" id="confirmation">Confirm Password</label><input type="password" id="confirmation" placeholder="Confirm your password">
                        <svg></svg>
                        <p class="validation validated">Passwords match!</p>
                    </div>
                    <div class="action-container">
                        <button type="button" class="signup">Create your account!</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</body>

</html>